<md-card class="custom-card">
	<app-card-title
		[icon]="'view_list'"
		[title]="'Все датчики устройства'"
		[subtitle]="'Последнее обноление: 12:45'">
	</app-card-title>

	<div class="all-sensors-data">
		<ul class="data-list">
			<li class="data-item">
				<div class="image-holder temperature"></div>
				<div class="value-holder">{{data?.temperature || '---'}}</div>
			</li>

			<li class="data-item">
				<div class="image-holder humidity"></div>
				<div class="value-holder">{{data?.humidity || '---'}}</div>
			</li>

			<li class="data-item">
				<div class="image-holder light"></div>
				<div class="value-holder">{{data?.light || '---'}}</div>
			</li>

			<li class="data-item">
				<div class="image-holder ultraviolet"></div>
				<div class="value-holder">{{data?.ultraviolet || '---'}}</div>
			</li>

			<li class="data-item">
				<div class="image-holder pressure"></div>
				<div class="value-holder">{{data?.pressure || '---'}}</div>
			</li>

			<li class="data-item">
				<div class="image-holder co2"></div>
				<div class="value-holder">{{data?.co2 || '---'}}</div>
			</li>

			<li class="data-item">
				<div class="image-holder sound"></div>
				<div class="value-holder">{{data?.slavel || '---'}}</div>
			</li>

			<li class="data-item">
				<div class="image-holder voc"></div>
				<div class="value-holder">{{data?.voc || '---'}}</div>
			</li>
		</ul>
	</div>




	<div class="chart-holder">
		<canvas baseChart width="400" height="300"
				[data]="lineChartData"
				[labels]="lineChartLabels"
				[chartType]="'line'"
				[options]="{
					animation: false,
					legend: {display: false},
					responsive: true
				}">
		</canvas>
	</div>
</md-card>



<md-card class="control">
	<div class="setup-item">
			<span class="setup-label">
				Автообновление
			</span>
			<span class="setup-control">
				<md-slide-toggle
					[color]="'primary'"
					(change)="onAutoUpdate($event)"
					[checked]="true">
				</md-slide-toggle>
			</span>
	</div>
</md-card>









