


<md-card class="example-card">
	<div class="data">
		<div class="data-wrap">
			<div class="title">Температура</div>
			<div class="value">Оптимально: 25.4С</div>
		</div>
		<div class="sensor-value">
			22.6 C
		</div>
	</div>

	<div class="data">
		<div class="data-wrap">
			<div class="title">Влажность</div>
			<div class="value">Оптимально: 45.7%</div>
		</div>
		<div class="sensor-value">
			54.2 %
		</div>
	</div>

	<div class="data">
		<div class="data-wrap">
			<div class="title">Давление</div>
			<div class="value">Оптимально: 520 рт.ст</div>
		</div>
		<div class="sensor-value">
			458 р.с
		</div>
	</div>

	<div class="data">
		<div class="data-wrap">
			<div class="title">Высота</div>
			<div class="value">Оптимально: ---</div>
		</div>
		<div class="sensor-value">
			125.3 м
		</div>
	</div>

	<div class="data">
		<div class="data-wrap">
			<div class="title">Уровень CO2</div>
			<div class="value">Оптимально: 400 ппм</div>
		</div>
		<div class="sensor-value">
			1587 пм
		</div>
	</div>

	<div class="data">
		<div class="data-wrap">
			<div class="title">Уровень VOC</div>
			<div class="value">Оптимально: 10%</div>
		</div>
		<div class="sensor-value">
			15 %
		</div>
	</div>

	<div class="data">
		<div class="data-wrap">
			<div class="title">Освещение</div>
			<div class="value">Оптимально: 5000 юкс</div>
		</div>
		<div class="sensor-value">
			3547 л.
		</div>
	</div>

	<div class="data">
		<div class="data-wrap">
			<div class="title">Ультрафиолет</div>
			<div class="value">Оптимально: 25 с/см2</div>
		</div>
		<div class="sensor-value">
			154 с.
		</div>
	</div>

	<div class="data">
		<div class="data-wrap">
			<div class="title">Уровень шума</div>
			<div class="value">Заполнение: 48%</div>
		</div>
		<div class="sensor-value">
			35 %
		</div>
	</div>
</md-card>














