<md-toolbar color="white">
	<ul class="nav-list">
		<li>
			<a class="nav-item" routerLink="/main/sensors" routerLinkActive="active">
				<div class="nav-icon"><md-icon>view_list</md-icon></div>
				<div class="nav-text">Датчики</div>
			</a>
		</li>

		<li>
			<a class="nav-item" routerLink="/main/charts" routerLinkActive="active">
				<div class="nav-icon"><md-icon>show_chart</md-icon></div>
				<div class="nav-text">Графики</div>
			</a>
		</li>

		<li>
			<a class="nav-item">
				<div class="nav-icon"><md-icon>dvr</md-icon></div>
				<div class="nav-text">Сводка</div>
			</a>
		</li>

		<li>
			<a class="nav-item">
				<div class="nav-icon"><md-icon>developer_board</md-icon></div>
				<div class="nav-text">Модуль</div>
			</a>
		</li>

		<li>
			<a class="nav-item">
				<div class="nav-icon"><md-icon>tune</md-icon></div>
				<div class="nav-text">Настройки</div>
			</a>
		</li>
	</ul>
</md-toolbar>
