<md-card *ngIf="light?.show" class="custom-card">
	<app-card-title
		[icon]="'error'"
		[title]="'Низкий уровень освещения'"
		[subtitle]="'Обнаруженно в: ' + light.time">
	</app-card-title>

	<div class="error-holder">
		<div class="fixing">
			<span *ngIf="!light.description">
				По возможности, задействуйте дополнительные источники освещения для восстановления
				более приятного микроклимата в помещении
			</span>

		</div>

		<ul class="detail-data">
			<li class="title current">Текущее<div class="value">{{light.current}}</div></li>
			<li class="title">Среднее<div class="value">{{light.current}}</div></li>
			<li class="title">Опт.<div class="value">{{(light.from + light.to) / 2}}</div></li>
			<li class="title">Макс.<div class="value">{{light.to}}</div></li>
			<li class="title">Мин<div class="value">{{light.from}}</div></li>
		</ul>
	</div>
</md-card>

<md-card *ngIf="voc?.show" class="custom-card">
	<app-card-title
		[icon]="'error'"
		[title]="'Высокий уровень VOC'"
		[subtitle]="'Обнаруженно в: ' + voc.time">
	</app-card-title>

	<div class="error-holder">
		<div class="fixing">
			<span *ngIf="!voc.description">
				Пожалуйста, проветрите помещение и устраните причину загрязнения воздуха
				(краска/растворитель/спирт/парфюмы и т.д)
			</span>

		</div>

		<ul class="detail-data">
			<li class="title current">Текущее<div class="value">{{voc.current}}</div></li>
			<li class="title">Среднее<div class="value">{{voc.current}}</div></li>
			<li class="title">Опт.<div class="value">{{voc.from}}</div></li>
			<li class="title">Макс.<div class="value">{{voc.max}}</div></li>
			<li class="title">Мин<div class="value">{{voc.min}}</div></li>
		</ul>
	</div>
</md-card>




