<md-card *ngIf="light?.show" class="custom-card">
	<app-card-title
		[icon]="'error'"
		[title]="light.title || 'Превышен оптимальный параметр'"
		[subtitle]="'Обнаруженно в: ' + light.time">
	</app-card-title>

	<div class="error-holder">
		<div class="fixing">
			<span *ngIf="light.description">{{light.description}}</span>
			<span *ngIf="!light.description">
				По возможности устраните воздействие негативного фактора, так как это влияет на
				ваше сомочуствие / продуктивной / настроение. Следуйте рекомендациям
			</span>

		</div>

		<ul class="detail-data">
			<li class="title current">Текущее<div class="value">{{light.current}}</div></li>
			<li class="title">Среднее<div class="value">{{light.current}}</div></li>
			<li class="title">Опт.<div class="value">{{light.optimal}}</div></li>
			<li class="title">Макс.<div class="value">{{light.max}}</div></li>
			<li class="title">Мин<div class="value">{{light.min}}</div></li>
		</ul>
	</div>
</md-card>

<md-card *ngIf="voc?.show" class="custom-card">
	<app-card-title
		[icon]="'error'"
		[title]="voc.title || 'Превышен оптимальный параметр'"
		[subtitle]="'Обнаруженно в: ' + voc.time">
	</app-card-title>

	<div class="error-holder">
		<div class="fixing">
			<span *ngIf="voc.description">{{voc.description}}</span>
			<span *ngIf="!voc.description">
				По возможности устраните воздействие негативного фактора, так как это влияет на
				ваше сомочуствие / продуктивной / настроение. Следуйте рекомендациям
			</span>

		</div>

		<ul class="detail-data">
			<li class="title current">Текущее<div class="value">{{voc.current}}</div></li>
			<li class="title">Среднее<div class="value">{{voc.current}}</div></li>
			<li class="title">Опт.<div class="value">{{voc.optimal}}</div></li>
			<li class="title">Макс.<div class="value">{{voc.max}}</div></li>
			<li class="title">Мин<div class="value">{{voc.min}}</div></li>
		</ul>
	</div>
</md-card>




