@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
}


md-icon.green { color: #20d14c; }

md-card.custom-card.mat-card {
	padding: 5px 0;
}





.border-top{
	border-top: 1px solid rgba(0,0,0,.1);
}

.temperature{
	background-image: url("./assets/icons/temperature.png");
}
.temperature.active{
	 background-image: url("./assets/icons/temperature-active.png");
 }


.pressure{
	background-image: url("./assets/icons/pressure.png");
}
.pressure.active{
	background-image: url("./assets/icons/pressure-active.png");
}

.co2{
	background-image: url("./assets/icons/co2.png");
}
.co2.active{
	background-image: url("./assets/icons/co2-active.png");
}


.voc{
	background-image: url("./assets/icons/voc.png");
}
.voc.active{
	background-image: url("./assets/icons/voc-active.png");
}


.humidity{
	background-image: url("./assets/icons/humidity.png");
}
.humidity.active{
	background-image: url("./assets/icons/humidity-active.png");
}


.light{
	background-image: url("./assets/icons/light.png");
}
.light.active{
	background-image: url("./assets/icons/light-active.png");
}


.ultraviolet{
	background-image: url("./assets/icons/ultraviolet.png");
}
.ultraviolet.active{
	background-image: url("./assets/icons/ultraviolet-active.png");
}

.sound{
	background-image: url("./assets/icons/sound.png");
}
.sound.active{
	background-image: url("./assets/icons/sound-active.png");
}



.loading{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding-top: 70%;
	color: white;
	font-size: 1.5em;
	font-weight: 500;
	font-family: Roboto,"Helvetica Neue",sans-serif;

	text-transform: uppercase;
	text-align: center;
	background-color: #f44336;
}
